<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {{range .Result}}
        <div>
            Port {{ .Port}}  : {{.State}} <br>
        </div>
        {{end}}
        {{.Error}}
    </ul>
    <br/>
    <ul>
    <div>
    <form method="POST" action="postform" name="port0">
        <label> Port 
            <select name="portnum">
                {{range .Result}}
                <option value="{{ .Port}}" name="port"> {{ .Port}} </option>
                {{end}}
            </select>
        
        </label> <br>
        <input type="radio" name="state" value="1" /> On <br>
        <input type="radio" name="state" value="2" /> Off <br>
        <input type="submit" value="установить" > <br>
    </form>
    <br> <br>
    <form method="get" action="/" name="redir">
        <input type="submit" value="назад" > <br>
        </form>
    </div>
    </ul>
</body>
</html>